.navbar-custom {
  background-color: var(--color-surface);
}

.navbar-brand-custom {
  color: var(--color-primary) !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.nav-link-custom {
  color: var(--color-text) !important;
}

/* Botón de ingresar */
.btn-login {
background-color: var(--color-accent);
  border: none;
  margin-top: 1rem;
  color: #000;
  font-weight: bold;
  border-radius: 9999px;
  padding: 0.6rem 1.2rem;
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(232, 121, 249, 0.5)
}

.btn-login:hover {
  background-color: #d946ef;
  transform: scale(1.05);
}

